    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #0b132b;
      color: #e0e0e0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    

    h2 {
      color: #00ff88;
      margin-bottom: 25px;
    }

    

    

    input:focus {
      border-color: #00ff88;
      box-shadow: 0 0 5px #00ff88;
    }

    